CT_CONFIG_VERSION="4"
CT_TARBALLS_BUILDROOT_LAYOUT=y
CT_DOWNLOAD_AGENT_CURL=y
CT_ARCH_ARM=y
CT_MULTILIB=y
# CT_ARCH_USE_MMU is not set
CT_TARGET_VENDOR="none"
CT_TOOLCHAIN_CMAKE_TOOLCHAIN_FILE=y
CT_LIBC_PICOLIBC=y
CT_LIBC_PICOLIBC_EXTRA_SECTIONS=y
CT_CC_GCC_MULTILIB_LIST="rmprofile"
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
CT_COMP_TOOLS_FOR_HOST=y
CT_COMP_TOOLS_AUTOCONF=y
CT_COMP_TOOLS_AUTOMAKE=y
CT_COMP_TOOLS_BISON=y
CT_COMP_TOOLS_DTC=y
CT_COMP_TOOLS_LIBTOOL=y
CT_COMP_TOOLS_M4=y
CT_COMP_TOOLS_MAKE=y
